* {
margin:0;
padding:0;
}

#top {
    height: 100px;
    width: 100%;
    display:block;
}
#content {
    top: 50px;
    width: 100%;
    display:block;
}

#equations, #equations2, #equations3 {
    top: 100px;
    width: 100%;
    text-align: center;
    position: relative;
}

ul {
list-style:none;
display:inline-block;
width: 50px;
height: 50px;
}

table {
    border-spacing: 0;
    cell-spacing: 0;
    cell-padding: 0;
    margin: 0 auto;
}

tr {
}

td, li {
    width: 50px;
    height: 50px;
}

#inputs {
    height: 50%;
    width: 100%;
    background: red;
}

#menu {
    height: 50%;
    margin: 0 50px;
}

.label {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 9;
    font-size: 15px;
    color: black;
}

.drawings {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.abs_img {
    position: absolute;
    width: 50px;
    height: 50px;
}

input {
    position: absolute;
    display: block;
    width: 100px;
    height: 40px;
}
p {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    text-align: right;
}

input[type=image] {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    z-index: 10;
}

br {
   display: block;
   padding: 20px;
   margin: 25px;
}
