<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Circuit Analiser</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
      src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="static/script.js"></script>
</head>
<body>
</body>
    <script>
        x = {{x}};
        y = {{y}};
        createData();
        sources = {{files|tojson}};
        counters = {{counters|tojson}};
        labels = {{labels|tojson}};
    </script>
    <div id="top">
        <div id="inputs"></div>
        <div id="menu">
            {% for i in range(files|length - 1) %}
            <ul><input type="image" id="t{{i}}" onclick="val = {{i}}" src={{files[i]}}></ul>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div id="content">
        <table>
        {% for i in range(y) %}
        <tr>
            {% for j in range(x) %}
            <td id="c{{i*100+j}}">
                <input type="image" src="/static/images/blank.svg" id="i{{i*100+j}}" onclick="clickButton({{i*100+j}})"
                onmouseover="onMouse({{i*100+j}})" onmouseout="offMouse({{i*100+j}})">
                <div class="label" id="l{{i*100+j}}"></div>
                <div class="drawings" id="d{{i*100+j}}"></div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <script>
            updateBoard();
        </script>
        </table>
    </div>


</body>
</html>